<div class="container">
  <article class="message is-info">
    <div class="message-header">
      <p>Info</p>
      <button class="delete" aria-label="delete"></button>
    </div>
    <div class="message-body">
      All previous accounts were purged, contact relative on the
      <a href="/discord" target="_blank">Discord</a> if you had an account
      previously.
    </div>
  </article>
  <h1 class="title">Login</h1>

  <% if (errors && errors.suspended) { %>
  <article class="message is-danger">
    <div class="message-header">
      <p>Account is Suspended</p>
    </div>
    <div class="message-body">
      Your account was suspended for the following reason:<br />
      <%= errors.suspended %>.<br />
      Check your email for more information.
    </div>
  </article>
  <% } %>

  <form method="POST">
    <div class="field">
      <label class="label">Username</label>
      <div class="control">
        <input
          class="input <%= errors && errors.username ? 'is-danger' : ''%>"
          type="text"
          name="username"
          value="<%= values.username %>"
        />
      </div>
      <% if (errors && errors.username) { %>
      <p class="help is-danger">
        <%= errors.username %>
      </p>
      <% } %>
    </div>
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input
          class="input <%= errors && errors.password ? 'is-danger' : ''%>"
          type="password"
          name="password"
        />
      </div>
      <% if (errors && errors.password) { %>
      <p class="help is-danger">
        <%= errors.password %>
      </p>
      <% } %>
    </div>

    <div class="field is-grouped">
      <p class="control">
        <button class="button is-link" type="submit">Login</button>
      </p>
      <p class="control">
        <a class="is-link" href="/auth/forgot_password">Forgot Password</a>
      </p>
    </div>
  </form>
</div>
