<h1 class="title">User</h1>
<h2 class="subtitle">
  View information on user <%= user.username %>
</h2>

<% if (user.suspended) { %>
<article class="message is-danger">
  <div class="message-header">
    <p>User is Suspended</p>
  </div>
  <div class="message-body">
    User is suspended for the following reason: <br />
    <%= user.suspensionReason %>
  </div>
</article>
<% } %> <% if (query.message) { %>
<article class="message <%= query.class %>">
  <div class="message-header">
    <p>Message</p>
  </div>
  <div class="message-body">
    <%= query.message %>
  </div>
</article>
<% } %>

<h1 class="title">User Management</h1>
<% if (!user.suspended) { %>
<form method="POST" action="/admin/users/<%= user.username %>/suspend">
  <h2 class="subtitle">Suspend</h2>
  <div class="field">
    <label class="label">Reason</label>
    <input class="input" type="text" name="reason" />
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-danger" type="submit">Suspend</button>
    </p>
  </div>
</form>
<% } else { %>
<form method="POST" action="/admin/users/<%= user.username %>/unsuspend">
  <h2 class="subtitle">Lift Suspension</h2>
  <div class="field">
    <p class="control">
      <button class="button is-warning" type="submit">Lift Suspension</button>
    </p>
  </div>
</form>
<% } %>

<h1 class="title">Invitations for User</h1>

<div class="content">
  <p>
    Can <em>freely</em> create invites:
    <strong
      class="has-text-<%= (user.inviteCreator || user.admin || user.moderator) ? 'success' : 'danger' %>"
    >
      <%= (user.inviteCreator || user.admin || user.moderator) ? 'YES' : 'NO' %>
    </strong>
  </p>
  <p>Available invites: <strong><%= user.availableInvites || 0 %></strong></p>
</div>
<a
  class="button is-success"
  href="/admin/users/<%= user.username %>/grant_invite"
>
  Grant Invite
</a>
<a
  class="button is-danger"
  href="/admin/users/<%= user.username %>/remove_item"
>
  Remove Invite
</a>
<a
  class="button is-warning"
  href="/admin/users/<%= user.username %>/toggle_creator"
>
  Toggle invite creator
</a>
<br />

<h1 class="title">Images</h1>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Host</th>
      <th>Upload Date</th>
      <th>Size</th>
      <th>Content Type</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% user.images.map(image => { %>
    <tr>
      <td><a href="<%= image.url %>"><%= image.path %></a></td>
      <td><%= image.host %></td>
      <td><%= image.uploadDate %></td>
      <td><%= image.size %></td>
      <td><%= image.contentType %></td>
      <td>
        <div class="field is-grouped">
          <p class="control">
            <a
              class="button is-warning"
              href="/admin/images/<%= image.id %>/delete?type=LEGAL&loc=user"
            >
              Legal
            </a>
          </p>
          <p class="control">
            <a
              class="button is-danger"
              href="/admin/images/<%= image.id %>/delete?type=COPYRIGHT&loc=user"
            >
              Copyright
            </a>
          </p>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<h1 class="title">Shortened URLs</h1>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Real URL</th>
      <th>Host</th>
      <th>Creation Date</th>
      <th>Deleted</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% user.urls.map(url => { %>
    <tr>
      <td>
        <a href="https://<%= url.host %>/<%= url.shortId %>">
          <%= url.shortId %>
        </a>
      </td>
      <td><a href="<%= url.url %>"><%= url.url %></a></td>
      <td><%= url.host %></td>
      <td><%= url.creationDate %></td>
      <td>
        <% if (url.deleted) { %><strong>Yes</strong> <% } else { %> No<% } %>
      </td>
      <td>
        <div class="field is-grouped">
          <p class="control">
            <a
              class="button is-warning"
              href="/admin/urls/<%= url.id %>/delete?type=LEGAL&loc=user"
            >
              Legal
            </a>
          </p>
          <p class="control">
            <a
              class="button is-danger"
              href="/admin/urls/<%= url.id %>/delete?type=COPYRIGHT&loc=user"
            >
              Copyright
            </a>
          </p>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>

<h1 class="title">Invites</h1>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Invite</th>
      <th>Created on</th>
      <th>Redeemed</th>
      <th>Redeemed By</th>
    </tr>
  </thead>
  <tbody>
    <% user.invites.map(invite => { %>
    <tr>
      <td><%= invite.invite %></td>
      <td><%= invite.createdOn %></td>
      <td>
        <% if (invite.redeemed) { %><strong>Yes</strong> <% } else { %> No<% }
        %>
      </td>
      <td>
        <% if (invite.redeemed) { %> <%= invite.redeemedBy %> <% } %>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
