<h1 class="title">Shortened URLs</h1>
<h2 class="subtitle">
  View all shortened URLs you have created
</h2>

<% if (query.message) { %>
<article class="message <%= query.class %>">
  <div class="message-header">
    <p>Message</p>
  </div>
  <div class="message-body">
    <%= query.message %>
  </div>
</article>
<% } %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Real URL</th>
      <th>Host</th>
      <th>Creation Date</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% urls.map(url => { %>
    <tr>
      <td>
        <a href="https://<%= url.host %>/<%= url.shortId %>">
          <%= url.shortId %>
        </a>
      </td>
      <td><a href="<%= url.url %>"><%= url.url %></a></td>
      <td><%= url.host %></td>
      <td><%= url.creationDate %></td>
      <td>
        <a class="button is-danger" href="/account/urls/<%= url.id %>/delete">
          Delete
        </a>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
