<% if (originalUrlEq('/')) { %>
<nav
  class="navbar is-transparent is-fixed-top"
  role="navigation"
  aria-label="main navigation"
  style="background: transparent;"
>
  <% } else { %>
  <nav
    class="navbar is-light has-shadow"
    role="navigation"
    aria-label="main navigation"
    style="margin-bottom: 1rem"
  >
    <% } %>
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        Mirage
      </a>
      <a
        role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-menu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu" id="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item <%= originalUrlEq('/') %>" href="/">
          Home
        </a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <% if (loggedIn) { %>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/account">
              <span class="icon">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
              </span>
              <span><%= profile.username %></span>
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/account">
                <span class="icon">
                  <i class="fas fa-user-circle" aria-hidden="true"></i>
                </span>
                <span>Manage Account</span>
              </a>
              <% if (profile.moderator || profile.admin) { %>
              <a class="navbar-item" href="/moderator">
                <span class="icon">
                  <i class="fas fa-life-ring" aria-hidden="true"></i>
                </span>
                <span>Mod Panel</span>
              </a>
              <% } %> <% if (profile.admin) { %>
              <a class="navbar-item" href="/admin">
                <span class="icon">
                  <i class="fas fa-user-shield" aria-hidden="true"></i>
                </span>
                <span>Admin Panel</span>
              </a>
              <a class="navbar-item" href="/analytics">
                <span class="icon">
                  <i class="fas fa-chart-line" aria-hidden="true"></i>
                </span>
                <span>Analytics</span>
              </a>
              <% } %>

              <a class="navbar-item" href="/auth/logout">
                <span class="icon">
                  <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                </span>
                <span>Sign Out</span>
              </a>
            </div>
          </div>

          <span class="navbar-item"> </span>
          <div class="buttons">
            <a class="button is-danger" href="/auth/logout">
              <span class="icon">
                <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
              </span>
              <span>Sign Out</span>
            </a>
          </div>
          <% } else { %>
          <div class="buttons">
            <a class="button is-link" href="/auth/register">
              <strong>Sign up</strong>
            </a>
            <a class="button is-light" href="/auth/login">
              Log in
            </a>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </nav>
</nav>
