<h1 class="title">Images</h1>
<h2 class="subtitle">
  View all of the images on the instance
</h2>

<% if (query.message) { %>
<article class="message <%= query.class %>">
  <div class="message-header">
    <p>Message</p>
  </div>
  <div class="message-body">
    <%= query.message %>
  </div>
</article>
<% } %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Host</th>
      <th>Upload Date</th>
      <th>Uploader</th>
      <th>Size</th>
      <th>Content Type</th>
      <th>Deleted</th>
      <th>Hash</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% images.map(image => { %>
    <tr>
      <td><a href="<%= image.url %>"><%= image.path %></a></td>
      <td><%= image.host %></td>
      <td><%= image.uploadDate %></td>
      <td>
        <a href="/admin/users/<%= image.uploader.username %>"
          ><%= image.uploader.username %></a
        >
      </td>
      <td><%= image.size %></td>
      <td><%= image.contentType %></td>
      <td>
        <% if (image.deleted) { %><strong>Yes</strong> <% } else { %> No<% } %>
      </td>
      <td><code><%= image.hash %></code></td>
      <td>
        <div class="field is-grouped">
          <p class="control">
            <a
              class="button is-warning"
              href="/admin/images/<%= image.id %>/delete?type=LEGAL"
            >
              Legal
            </a>
          </p>
          <p class="control">
            <a
              class="button is-danger"
              href="/admin/images/<%= image.id %>/delete?type=COPYRIGHT"
            >
              Copyright
            </a>
          </p>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
