<h1 class="title">Shortened URLs</h1>
<h2 class="subtitle">
  View all of the shortened URLs on the instance
</h2>

<% if (query.message) { %>
<article class="message <%= query.class %>">
  <div class="message-header">
    <p>Message</p>
  </div>
  <div class="message-body">
    <%= query.message %>
  </div>
</article>
<% } %>

<table class="table is-hoverable is-fullwidth is-striped">
  <thead>
    <tr>
      <th>Path</th>
      <th>Real URL</th>
      <th>Host</th>
      <th>Creation Date</th>
      <th>Creator</th>
      <th>Deleted</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% urls.map(url => { %>
    <tr>
      <td>
        <a href="https://<%= url.host %>/<%= url.shortId %>">
          <%= url.shortId %>
        </a>
      </td>
      <td><a href="<%= url.url %>"><%= url.url %></a></td>
      <td><%= url.host %></td>
      <td><%= url.creationDate %></td>
      <td>
        <a href="/admin/users/<%= url.creator.username %>"
          ><%= url.creator.username %></a
        >
      </td>
      <td>
        <% if (url.deleted) { %><strong>Yes</strong> <% } else { %> No<% } %>
      </td>
      <td>
        <div class="field is-grouped">
          <p class="control">
            <a
              class="button is-warning"
              href="/admin/urls/<%= url.id %>/delete?type=LEGAL"
            >
              Legal
            </a>
          </p>
          <p class="control">
            <a
              class="button is-danger"
              href="/admin/urls/<%= url.id %>/delete?type=COPYRIGHT"
            >
              Copyright
            </a>
          </p>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
