<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- meta %> <% include ../includes/styles %>
    <title>Mirage</title>
  </head>
  <body>
    <div class="content-main">
      <% include ../includes/navbar %>
      <div>
        <% if (globalMessage) { %>
        <article class="message <%= globalMessageClass %>">
          <div class="message-header">
            <p>Notice</p>
          </div>
          <div class="message-body">
            <%= globalMessage %>
          </div>
        </article>
        <% } %>
        <div class="container">
          <div class="columns">
            <div class="column is-one-third">
              <aside class="menu">
                <p class="menu-label">
                  Admin
                </p>
                <ul class="menu-list">
                  <li>
                    <a href="/admin" class="<%= originalUrlEq('/admin') %>">
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a
                      href="/admin/invites"
                      class="<%= originalUrlEq('/admin/invites') %>"
                    >
                      Invites
                    </a>
                  </li>
                  <li>
                    <a
                      href="/admin/images"
                      class="<%= originalUrlEq('/admin/images') %>"
                    >
                      Images
                    </a>
                  </li>
                  <li>
                    <a
                      href="/admin/urls"
                      class="<%= originalUrlEq('/admin/urls') %>"
                    >
                      Shortened URLs
                    </a>
                  </li>
                </ul>

                <p class="menu-label">
                  Users
                </p>
                <ul class="menu-list">
                  <li>
                    <a
                      href="/admin/users"
                      class="<%= originalUrl('/admin/users') %>"
                    >
                      List
                    </a>
                  </li>
                </ul>
              </aside>
            </div>
            <div class="column table-container">
              <%- body %>
            </div>
          </div>
        </div>
      </div>
      <div style="flex-grow: 1"></div>
      <% include ../includes/footer %>
    </div>
    <% include ../includes/scripts %>
  </body>
</html>
